/* Footer */
footer {
  background: #474B4E;
  color: #f9f9f9;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
  margin-top: auto;
}

footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

footer .social-icons img {
  width: 30px;
  height: 30px;
}

footer p {
  margin: 5px 0;
  font-size: 0.9rem;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
