.why-choose-us {
  background-color: #f2f2f2;
  padding: 60px 20px;
}

.why-choose-us h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #434343;
  text-align: center;
  margin-bottom: 40px;
}

.features {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.feature {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.feature h3 {
  font-size: 1.8rem;
  color: #434343;
  margin-bottom: 20px;
}

.feature p {
  font-size: 1rem;
  color: #434343;
  line-height: 1.6;
}

.feature .icon {
  font-size: 3rem;
  color: #42B5FC; 
  margin-bottom: 20px;
}

.hero-title {
  font-size: 3rem; 
  font-weight: bold;
  color: #434343;
  margin-bottom: 5px; 
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #42B5FC;
  margin-top: 0; 
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.hero-text p {
  font-size: 1.2rem;
  margin: 0;
}

.hero-container {
  display: flex; /* Alinea los elementos horizontalmente */
  flex-direction: column; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  gap: 30px; /* Espaciado entre los elementos */
  text-align: center; /* Centra el texto */
  margin-bottom: 50px; /* Ajuste de margen */
}

.hero-text {
  max-width: 600px; /* Limita el ancho del texto */
}

.hero-logo {
  width: 240px; /* Ajusta el tamaño del logo */
  height: auto;
}

.caronte-info {
  text-align: center;
  padding: 20px 20px; /* Más relleno para destacar el contenido */
  font-size: 1.4rem; /* Tamaño de fuente más grande para resaltar */
  color: #434343;
  line-height: 1.6; /* Mayor espacio entre líneas para legibilidad */
  margin: 2% 10%; /* Más margen para separar del resto del contenido */
  max-width: 1600px;
  border: 1px solid #434343; /* Borde más grueso y visible */
  border-radius: 20px; /* Bordes redondeados para un diseño moderno */
  box-shadow: 0 0 15px rgba(67, 67, 67, 0.5); /* Efecto de resplandor sutil */
  background-color: #F3F3F3; /* Fondo blanco para destacar el contenido */
  transition: transform 0.3s ease; /* Animación suave */
}

.caronte-info:hover {
  transform: scale(1.01); /* Efecto de aumento al pasar el cursor */
}


/* Estilo responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .hero-container {
    gap: 20px; /* Menos espacio en pantallas pequeñas */
  }

  .hero-logo {
    width: 150px; /* Logo más pequeño */
  }

  .caronte-info {
    padding: 30px; /* Ajuste de espaciado */
    margin: 20px;
  }
}


@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 80%;
    margin-bottom: 20px;
  }
}
