.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    text-align: center;
  }
  
  .hero-text h1 {
    font-size: 2.5rem;
    margin-top: -190px;
    margin-bottom: 5px; 
    position: relative;
    left: -30px; 
}

.hero-text p {
    font-size: 1.2rem;
    margin-top: 0px; 
    position: relative;
    left: -30px; 
}

  
  .btn-cta {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .hero-logo img {
    width: 200px;
    margin-top: 20px;
  }
  
  .caronte-info {
    text-align: center;
    margin-top: 50px;
    padding: 40px;
    background: #f9f9f9;
    border-radius: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.caronte-info h2 {
    font-size: 2rem;
    color: #222;
    margin-bottom: 15px;
}

.caronte-info p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
}
