html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}


/* Contenedor */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #474B4E;
  color: black;
  padding: 20px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

/* Botón de registro */
.btn-registro {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.hero {
  position: relative;
  text-align: center;
  padding: 100px 20px;
}

.hero-logo {
  position: absolute;
  top: 330px; /* Centra verticalmente */
  left: 400px; /* Mueve el logo hacia la izquierda */
  transform: translate(-50%, -50%); /* Ajusta la alineación */
  width: 500px; /* Tamaño del logo */
  opacity: 0.08; /* Mantiene la visibilidad sutil */
  z-index: -1; /* Mantiene el logo detrás del texto */
}


.hero h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
  color: #3498db;
  font-weight: bold;
}

.highlight {
  font-weight: bold;
}
